/*GAME ELEMENTS
------------------------------------*/
.weapons {position: absolute;
	bottom: 3px;
	left: 10px;
	right: 10px;
}

.contenders {position: absolute;
	bottom: 3px;
	left: 10px;
	right: 10px;
	
}

.weaponImage {width: 40px;
	height: auto;
	display: inline-table;
	margin: 10px 25px;
	cursor: pointer;
	transition: 0.3s;
}

.weaponImage:hover {transform: scale(1.5, 1.5);
}

#versus {margin: 20px 0;
}

#results {text-decoration: underline;
	margin-bottom: 40px;

}

/*INITIAL HTML
---------------------------------------*/
body {background-color: #F5F5F5;
}

#container {width: 100%;
}

header {width: 100%;
	background-color: #3284FF;
	color: #F5F5F5;
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
	text-align: center;
	padding: 10px 0 10px 0;
	border-bottom: solid;
	border-width: 10px;
	border-color: #3284FF;
	display: inline-block;
}

.topImage {width: 30px;
	height: auto;
	padding: 0 20px;
}

#referee {width: 100%;
	background-color: #F5F5F5;
	color: black;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-size: 25px;
	padding: 10px 0 10px 0;
}

#main {width: 100%;
	background-color: #F5F5F5;
	color: #F5F5F5;
	font-family: 'Dosis', sans-serif;
	padding: 28px 0;
	text-align: center;
	display: inline-flex;
	justify-content: center;

}

#blueSquare {width: 350px;
	height: 350px;
	border-radius: 30px;
	background-color: #3284FF;
	font-size: 25px;
	justify-content: center;
	padding: 10px;
	position: relative;
}


#yellowSquare {width: 350px;
	height: 350px;
	border-radius: 30px;
	background-color: #FFBB00;
/*	display: inline-flex;*/
	margin:  0 100px;
	font-size: 25px;
	justify-content: center;
	padding: 10px;
	position: relative;
}

#redSquare {width: 350px;
	height: 350px;
	border-radius: 30px;
	background-color: #DD4B39;
	font-size: 25px;
	justify-content: center;
	padding: 10px;
	position: relative;
}

.P1{text-decoration: underline;
}

.P2{text-decoration: underline;
}

.wins {position: absolute;
	top: 10px;
	left: 15px;
	font-size: 20px;
}

.losses {position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
}

#chatarea {text-align: center;
	background-color: #F5F5F5;
}

#chatwindow {width: 77%;
	height: 100px;
	margin: 0 10%;
	background-color: white;
	border-radius: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #3284FF;
	text-align: left;
	padding: 0 20px;
	overflow-y: auto;
}

#inputChat {width: 76%;
	margin: 10px 0 ;
}

footer {position: fixed;
	bottom: 0;
	left: 45%;
	right: 30%;
	text-decoration: none;
	background-color: #F5F5F5;
	font-size: 11px;
}
